{{ define "main" }}
<div role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <p>Have you ever taken out your phone from your bag or pocket just to find dozens of missed calls and “CALL ME BACK!!!!” texts from the person you care about? Or maybe you called someone again and again without any response, just to figure out hours later that they forgot their phones on “Mute” on the bottom of their backpack?</p>

        <p>It happens to us all the time! That’s why we developed HearMeNow - an App that allows your trusted contacts to turn on vibration or sound on your phone when they need to reach you and you don’t hear the call. Here is how to do it:</p>

        <h3>Select Your Trusted Contacts</h3>
        <p>Only the people you put on your trusted contact list will be able to disable your “Don’t disturb” mode or mute. Choose wisely! Similarly, you’ll have to be added as a trusted contact on their device to draw their attention.</p>

        <h3>Choose Your Settings</h3>
        <p>There are four possible ways to draw your attention in HearMeNow: turn on vibration only or vibration with the sound on “low”, “medium”, or “loud”. You choose the maximum volume your trusted contacts could use to draw your attention.</p>

        <h3>Draw Attention</h3>
        <p>Can’t reach your trusted contact by phone or text? Choose one of the four ways to draw their attention with HearMeNow. The app will let you know you when your notification was delivered and direct you to the Contacts so you can try to call or text them again.</p>

        <p>Some people never disturb, so why missing their calls in the “Don’t disturb” mode?</p>
        <h3>Never miss calls that matter!</h3>
        <a href='https://play.google.com/store/apps/details?id=app.hearmenow&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
          <img style="height: 80px" class="img-responsive" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
        </a>
      </article>
    </div>
  </div>
</div>
{{ end }}
